body{
    font-family: 'Cormorant', serif;
    font-weight: 100;
    width: 100%;
    font-size: 18px;
    color: #A5A6AA;
    margin: 0;
}
.logo{
    cursor: pointer;
}
#logo:hover{
	color:blue;
}

.Cormorant{
    font-size: 24px;
    letter-spacing: -1px;
    letter-spacing: -3px;
}

/*work*/
a{
    text-decoration: none;
    color: white;
}
a:hover{
    cursor: pointer;
}
body{

}
.content{
    padding-left: 8%;
    padding-right: 8%;
}
.content img{
	width: 100%;
}
.logo{
    
}
.nav{
	width: 100%;
	height: 100vh;
	position: absolute;
}
.nav-item{
    padding-left:50px;
}

.work{
    width: 100%;
    text-align: center;
}
.work-cell{
    width: 70%;
    position: absolute;
}
#ft{
    top: 150px;
    left: -100px;
}
#xq{
    top: 400px;
    left: 600px;
}
#es3{
    top: 650px;
    left: -100px;
}
#es4{
    top: 1100px;
    left: 600px;
    scale(2);
}
#es5{
    top: 1350px;
    left: 0px;
    scale(2);
}
#es6{
    top: 1600px;
    left: 600px;
    scale(2);
}
.work .work-cell a img{
    width: 50%;
    margin: 1% 1% 1% 1%;
    cursor: pointer;
}
#description{
    animation: animateOpen ease-in-out .3s;
    animation-iteration-count: 1;
    position: absolute;  
    top: 0;
    left: 0;
    width: 100vw; 
    background-color: #E8E8E8;
    color: #F45857;
    text-align: center;
    z-index: 1000;
}

#description-close{
    padding-top: 2em;
    cursor: pointer;
}
#description-title{
    top: 30%;
    left: 50%;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 10px;
    scale(1);
}
.description-img-fire_tongue{
    width: 100%;
    margin-bottom: -5px;
    padding-left: 300px;
}
.description-img-xiangqi{
    width: 49%;
    margin-bottom: -5px;
    padding-left: 315px;
}
.description-img-essentials{
    width: 49%;
    margin-bottom: -5px;
    padding-left: 315px;
}
#description-p1{
    font-weight: 300;
    display:table-cell;
    padding: 5em;
    padding-top: 1.5em;
    text-align: center;
    margin-top: 300px;
    scale(2);
}


#wrapper{
    position: relative;
    height: 100vh;
}
#slider-area{
    position: absolute;;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
}
#slider-area .owl-item div{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
}

.top-left {
	position: fixed;
    top:5%;
    left: 8%;

}
.top-right{
	position: fixed;
    top:5%;
    right: 8%

}
.bot-left{
	position: fixed;
    bottom:5%;
    left: 8%

}
.bot-right{
	position: fixed;
    text-align: right;
    bottom:5%;
    right: 8%

}
.content{
    margin:8%;

}
.content img{
	margin-top: -20px;
}
.col-3{
	margin-top: 15px;
	width: 100%;
}
.col-3 img{
	margin-left: -5px;
	width: 33%;
}
.col-6{
	margin-top: 0px;
	width: 100%;
}
.col-6 img{
	margin-left: -5px;
	width: 50%;
}

.yula{
    position: absolute;

}










