/* Layout */

* {
  box-sizing: border-box; /* pour maîtriser width et flex-basis */
}

html {
  display: flex; flex-direction: column; /* correction bug IE de min-height non appliqué à body */
  cursor:url(https://img.icons8.com/ios/25/000000/manga-filled.png) 2 2, pointer;
  cursor:url(https://img.icons8.com/ios/25/000000/manga-filled.png) 4 12, auto;
  
}

body {
	display: flex; /* crée un contexte flex pour ses enfants */
	flex-direction: column; /* affichage vertical */
	min-height: 100vh; /* toute la hauteur du viewport */
	padding: 0;
	margin: 0;
	font-size: 0.9em;
	-moz-font-feature-settings: "liga", "kern";
	-moz-font-feature-settings:"liga=1, kern=1";
	-ms-font-feature-settings:"liga", "kern";
	-o-font-feature-settings:"liga", "kern";
	-webkit-font-feature-settings:"liga", "kern";
	font-feature-settings: "liga", "kern";
	font-family: 'Heebo', sans-serif !important;
	
	 -ms-overflow-style: none;
	overflow-y: hidden;
	
	
	
	word-break: break-word;

	-webkit-hyphens: auto;

	-moz-hyphens: auto;

	-ms-hyphens: auto;

	-o-hyphens: auto;

	hyphens: auto;
}

.wrapper {
  flex: 1 1 auto; /* occupe la hauteur restante */
  display: flex; /* crée un contexte flex pour ses enfants */
}

aside {
  width: 25%;
}

article {
  flex: 1; /* occupe la largeur restante */
}




/* Responsive (fenêtres de moins de 700px) */

@media (max-width: 700px) {
  .wrapper {
    flex-direction: column; /* affichage vertical */
  }
  aside {
    width: auto; /* pour écraser la valeur 10em */
  }
  aside,
  article {
    flex-basis: auto; /* pour écraser la valeur 0, due au flex: 1 */
  }
  body{
	font-size:3vw;
  }

}

/* Decoration */

body {
  margin: 0;
  background: white;
}

header {
  background: white;
  border-bottom: 1px solid black;
  margin: 0;
  padding:0;
  
  

display:-webkit-flex;
-webkit-justify-content:center;
display:flex;
justify-content:center;


}
aside {
  background: white;
  padding:0;
  margin:0;
}
article {
  padding:0;
  margin:0;
  flex: 1 1 auto; /* occupe la hauteur restante */
  display: flex; /* crée un contexte flex pour ses enfants */
  min-height:250px;
}
#slider{
	background-image: url("images/WEB_MAIN.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position:40% 40%;
	display: inline-block;
	flex:1;
}

i {
  border: white;
  display: inline-block;
  position:absolute;
  color:white;
  font-size:20px;
}

#prev_slider {
  color:white;
  font-size: 18px;
  position: absolute;
  top:48%;
  left:1%;
}

#next_slider {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 48%;
  right: 26%;
}

footer {
  background: white;
  border-top: 1px solid black;
  border-right: 1px solid black;
  margin: 0;
  padding:0.5em;
  display:none;
}
td{
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 1%;
}

#navigation td {
	border-bottom: 1px solid black;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 0.7em;
}
#navigation{
	width:100%;
	text-align: left;
	/*border-bottom:1px solid black; à supprimer si le soulignement avec les td fonctionne*/
	padding-top: 0px;
	padding-left: 0px;	
	/*border-spacing: 2px; pour l'espacement des dates dans le menu => a décommenter*/
	/*border-collapse: collapse;*/
	/*word-break: break-all; ou keep-all pour garder le mot en entier*/
	
}
.showme{ 
	display: none;
	padding-left: 0%;
	padding-top: 0%;
	padding-bottom: 1%;
}

/*.showme div:hover{
	font-style: italic !important;
}*/
.showme div{
	font-weight: normal;
}
.collapse{
  cursor: pointer;
  display: block;
}
.collapse + input{
  display: none; /* hide the checkboxes */
}
.collapse + input + div{
  display:none;
}
.collapse + input:checked + div{
  display:block;
}
 ul {
    list-style-type:none;
    margin:0;
    padding:0;
	  width:100%;
	
}

 ul li {
    display:inline-block;
    position:relative;
	width:100%;
	
}

 ul li a {
  color: white;
  text-decoration: none;
  padding:0;
  display: block;
  width:100%;  
  height:100%;
}
 ul li a:hover {
  background: black;
}

ul.dropdown-content {
  position: absolute;
}
ul.dropdown-content_jrs {
  position: absolute;
}
#ul{
	display: none;
}
#ul_jrs{
	display: none;
}
html {
    /*overflow: scroll;*/
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
	display: none; 	
}